<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Template</title>
    <link rel="icon" href="img/logo/logo.svg">
</head>
<body>
    <div class="wrapper">

        <header class="header">
            <div class="header__container">
                <div class="header__logo">
                    <img src="img/logo/logo.svg" alt="logo" class="logo">
                    <p class="logo__text">
                        <span>Dr Muhammed’s</span>
                        consulting
                    </p>
                </div>
                <nav class="header__menu menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="#vision" class="menu__link">Our Vision</a>
                        </li>
                        <li class="menu__item">
                            <a href="#features" class="menu__link">Features</a>
                        </li>
                        <li class="menu__item">
                            <a href="#team" class="menu__link">Our Team</a>
                        </li>
                        <li class="menu__item">
                            <a href="#news" class="menu__link">Latest News</a>
                        </li>
                        <li class="menu__item">
                            <a href="#contact" class="menu__link">Contact</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__burger">
                    <span></span>
                </div>
                <div class="header__social">
                    <img src="img/icons/twiter.svg" alt="twiter" class="header__icon">
                    <img src="img/icons/instagram.svg" alt="instagram" class="header__icon">
                    <img src="img/icons/facebook.svg" alt="facebook" class="header__icon">
                </div>
            </div>
        </header>

        <main class="page">

            <section class="page__hero hero" id="vision">
                <div class="hero__container">
                    <div class="hero__info">
                        <p class="hero__subtitle">Our Vision</p>
                        <h1 class="hero__title">Get the best treatment in Calicut.</h1>
                        <p class="hero__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Tristique arcu a nisi, semper. Ut cras odio ac sem ac.
                        </p>
                        <ul class="hero__list">
                            <li class="hero__item">Best and timely diagnosis</li>
                            <li class="hero__item">Advanced medical equipments</li>
                            <li class="hero__item">Experienced Professionals</li>
                        </ul>
                        <button class="hero__button">Book a session</button>
                    </div>
                    <img class="hero__img" src="img/main/img.svg" alt="img icon">
                </div>
            </section>

            <section class="page__features features" id="features">
                <div class="features__container">
                    <p class="features__subtitle">Features</p>
                    <h2 class="features__title">
                        State of the art treatment
                    </h2>
                    <div class="features__cards cards-feature">
                        <div class="cards-feature__block">
                            <img src="img/main/black__img.svg" alt="img icon" class="cards-feature__img">
                            <p class="cards-feature__text">
                                Robotic Surgery
                            </p>
                        </div>
                        <div class="cards-feature__block">
                            <img src="img/main/black__img.svg" alt="img icon" class="cards-feature__img">
                            <p class="cards-feature__text">
                                3D Mapping
                            </p>
                        </div>
                        <div class="cards-feature__block">
                            <img src="img/main/black__img.svg" alt="img icon" class="cards-feature__img">
                            <p class="cards-feature__text">
                                3D Printed organs
                            </p>
                        </div>
                        <div class="cards-feature__block">
                            <img src="img/main/black__img.svg" alt="img icon" class="cards-feature__img">
                            <p class="cards-feature__text">
                                AI Surgery
                            </p>
                        </div>
                    </div>
                    <button class="features__button">Read More</button>
                </div>
            </section>

            <section class="page__team team" id="team">
                <div class="team__container">
                    <p class="team__subtitle">Our Team</p>
                    <h2 class="team__title">
                        Meet our people
                    </h2>
                    <div class="team__cards">
                        <div class="card-team">
                            <div class="card-team__img">
                                <img src="img/main/user.svg" alt="user icon" class="card-team__icon">
                            </div>
                            <div class="card-team__info">
                                <h3 class="card-team__title">Dr.Aboobacker</h3>
                                <p class="card-team__subtitle">Neurosurgeon</p>
                                <p class="card-team__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <button class="card-team__button">Read More</button>
                            </div>
                        </div>
                        <div class="card-team">
                            <div class="card-team__img">
                                <img src="img/main/user.svg" alt="user icon" class="card-team__icon">
                            </div>
                            <div class="card-team__info">
                                <h3 class="card-team__title">Dr.Aboobacker</h3>
                                <p class="card-team__subtitle">Neurosurgeon</p>
                                <p class="card-team__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <button class="card-team__button">Read More</button>
                            </div>
                        </div>
                        <div class="card-team">
                            <div class="card-team__img">
                                <img src="img/main/user.svg" alt="user icon" class="card-team__icon">
                            </div>
                            <div class="card-team__info">
                                <h3 class="card-team__title">Dr.Aboobacker</h3>
                                <p class="card-team__subtitle">Neurosurgeon</p>
                                <p class="card-team__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <button class="card-team__button">Read More</button>
                            </div>
                        </div>
                        <div class="card-team">
                            <div class="card-team__img">
                                <img src="img/main/user.svg" alt="user icon" class="card-team__icon">
                            </div>
                            <div class="card-team__info">
                                <h3 class="card-team__title">Dr.Aboobacker</h3>
                                <p class="card-team__subtitle">Neurosurgeon</p>
                                <p class="card-team__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <button class="card-team__button">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="page__news news" id="news">
                <div class="news__container">
                    <p class="news__subtitle">Latest News</p>
                    <h2 class="news__title">
                        Hot Topics
                    </h2>
                    <div class="news__cards cards-news">
                        <div class="cards-news__block">
                            <img src="img/main/black__img.svg" alt="img icon" class="cards-news__img">
                            <p class="cards-news__date">
                                16th March 2021
                            </p>
                            <p class="cards-news__title">
                                Dr.Aboobacker and team succesfully 
                                done the world’s first head implant.
                            </p>
                            <p class="cards-news__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                            <button class="cards-news__button"></button>
                        </div>    
                        <div class="cards-news__block">
                            <img src="img/main/black__img.svg" alt="img icon" class="cards-news__img">
                            <p class="cards-news__date">
                                16th March 2021
                            </p>
                            <p class="cards-news__title">
                                Dr.Aboobacker and team succesfully 
                                done the world’s first head implant.
                            </p>
                            <p class="cards-news__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                            <button class="cards-news__button"></button>
                        </div>    
                        <div class="cards-news__block">
                            <img src="img/main/black__img.svg" alt="img icon" class="cards-news__img">
                            <p class="cards-news__date">
                                16th March 2021
                            </p>
                            <p class="cards-news__title">
                                Dr.Aboobacker and team succesfully 
                                done the world’s first head implant.
                            </p>
                            <p class="cards-news__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                            <button class="cards-news__button"></button>
                        </div>    
                        <div class="cards-news__block">
                            <img src="img/main/black__img.svg" alt="img icon" class="cards-news__img">
                            <p class="cards-news__date">
                                16th March 2021
                            </p>
                            <p class="cards-news__title">
                                Dr.Aboobacker and team succesfully 
                                done the world’s first head implant.
                            </p>
                            <p class="cards-news__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                            <button class="cards-news__button"></button>
                        </div>    
                    </div>
                </div>
            </section>

            <section class="page__hero hero" id="contact">
                <div class="hero__container">
                    <div class="hero__info">
                        <p class="hero__subtitle">Our Vision</p>
                        <h1 class="hero__title">Get the best treatment in Calicut.</h1>
                        <p class="hero__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Tristique arcu a nisi, semper. Ut cras odio ac sem ac.
                        </p>
                        <button class="hero__button">Book a session</button>
                    </div>
                    <img class="hero__img" src="img/main/img.svg" alt="img icon">
                </div>
            </section>

        </main>

        <footer class="footer">
            <div class="footer__container">
                <div class="footer__links">
                    <ul class="links">
                        <li class="links__item">
                            <a href="#" class="links__link">Our Vision</a>
                        </li>
                        <li class="links__item">
                            <a href="#" class="links__link">Features</a>
                        </li>
                        <li class="links__item">
                            <a href="#" class="links__link">Our Team</a>
                        </li>
                        <li class="links__item">
                            <a href="#" class="links__link">Latest News</a>
                        </li>
                        <li class="links__item">
                            <a href="#" class="links__link">Contact</a>
                        </li>
                    </ul>
                    <p class="links__rights">Copyright © Metro Hospital 2021</p>
                </div>
                <p class="footer__powered">
                    Powered by <span>Getlead</span>
                </p>
            </div>
        </footer>

    </div>
    <script src="js/script.js"></script>
</body>
</html>