html, 
body {
    height: 100%;
    background-color: #0783999d;
    font-family: sans-serif;
    color: #fff;
    box-sizing: border-box;

}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 60%;
    border-radius: 32px;
    background-color: rgba(0, 21, 124, 0.4);
    /* backdrop-filter: blur(20px); */
}
.todo-container h1 {
    font-size: 54px;
    padding-top: 20px;
}

.input-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-container input {
    margin: 0;
    padding: 0 0 0 5px;
    border: 2px solid #000;
    border-radius: 8px;
    outline: none;
    height: 50px;
    font-size: 20px;
    width: 60%;
}

.input-container button {
    border: none;
    outline: none;
    height: 50px;
    background-color: #ff6600;
    color: #fff;
    font-size: 20px;
    padding: 0 12px;
    border-radius: 8px;
}

.todo-list {
    width: 60%;
    margin: 0;
    padding: 0;
}
.todo-list__item {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 10px;
}
.todo-list__button {
    background-color: #8dfa5f;
    border: none;
    padding: 4px 8px;
    font-size: 18px;
}

@media (max-width: 1200px ){
    .input-container {
        width: 80%;
    }
    .input-container input {
        width: 80%;
    }
    .todo-list {
        width: 80%;
    }
}
@media (max-width: 992px ){
    .input-container {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        align-items: center;
    }
    .input-container input {
        width: 100%;
    }
    .input-container button {
        width: 25%;    
    }
}
@media (max-width: 767px ){
    .todo-container {
        width: 95%;
    }
    .input-container button {
        width: 40%;
    }
}