/* import */

@import url(../style/nulstyle.css);

/* fonts */

@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,italic,500italic,600italic,700italic,&display=swap);

/* defoult styles */

body {
    font-size: 16px;
    color: #717171;
    font-family: Inter;
    background-color: #fff;
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.page {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

/* adaptive settings */

[class*="__container"] {
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

/* breake points */

@media (max-width: 1200px) {
    [class*="__container"] {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    [class*="__container"] {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    [class*="__container"] {
        max-width: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

// header

.header {
    background-color: #f5f7fa;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 15px;
    }

    &__logo {
    }

    &__menu {
    }

    &__login {
        display: flex;
        column-gap: 14px;
    }
}
.menu {
    &__list {
        display: flex;
        column-gap: 50px;
    }

    &__item {
    }

    &__link {
        color: #18191f;
    }
}
.login {
    color: #4caf4f;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 6px;
    transition: all 0.5s ease-in;
}
.sign-up {
    color: #4caf4f;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 6px;
    transition: all 0.5s ease-in;
}

.login:hover,
.sign-up:hover {
    background-color: #4caf4f;
    color: #fff;
}

.menu__item:hover {
    text-shadow: 0 5px 10px #717171;
    transform: scale(1.1);
}

// burger

.header__burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 18px;
    z-index: 99;
    cursor: pointer;
    position: relative;
}

.header__burger span {
    height: 2px;
    width: 100%;
    background-color: #18191f;
    transition: 0.3 ease-in;
}

.header__burger::before,
.header__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #18191f;
    transition: all 0.3s ease-in;
}

.header__burger::before {
    top: 0;
}

.header__burger::after {
    bottom: 0;
}

.header__burger.active span {
    transform: scale(0);
}

.header__burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.header__burger.active::after {
    top: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 992px) {
    .header__burger {
        display: flex;
    }

    .header__menu {
        display: none;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 50;
        background-color: #4caf4f;
    }
    .header__menu.open {
        display: flex;
    }

    .menu__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .menu__link {
        font-size: 44px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

//

@media (max-width: 1200px) {
    .menu__list {
        column-gap: 25px;
    }
}
@media (max-width: 992px) {
    .header__container {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
}
@media (max-width: 767px) {
    .header__container {
        display: flex;
        text-align: center;
    }
    .menu__list {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
}

// hero section

.herro {
    background-color: #f5f7fa;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 96px 15px;
    }

    &__info {
        width: 52.142857%; /* 657/1260 */
    }

    &__title {
        font-size: 64px;
        font-weight: 600;
        color: #4d4d4d;
        padding-bottom: 16px;
    }

    &__title--span {
        color: #4caf4f;
    }

    &__text {
        line-height: 24px;
        padding-bottom: 32px;
    }

    &__button {
        border-radius: 4px;
        padding: 14px 32px;
        background: #4caf4f;
        color: #fff;
    }
    &__button:hover {
        background: #328e36;
    }
    
    &__img {
    }
}

@media (max-width: 767px) {
    .herro__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        row-gap: 30px;
        padding: 28px 5px;
    }
    .herro__info {
        width: 80%;
    }
    .herro__text {
        padding-bottom: 10px;
    }
    .herro__img {
        width: 80%;
    }
}

// page clients

.clients {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
    }

    &__info {
        text-align: center;
    }

    &__title {
        font-size: 36px;
        font-weight: 600;
        padding-bottom: 8px;
        text-transform: capitalize;
    }

    &__icon {
        display: flex;
        column-gap: 136px;
        color: #4d4d4d;
        padding: 16px;
    }

    &__img {
        padding: 25px 0;
        transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}
.client {
    &__text {
    }
}

@media (max-width: 1200px ){
    .clients__icon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
    .clients__img:first-child {
        grid-column: 1;
        grid-row: 1;
    }
    .clients__img:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }
    .clients__img:nth-child(3) {
        grid-column: 2;
        grid-row: 1;
    }
    .clients__img:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
    }
    .clients__img:nth-child(5) {
        grid-column: 2;
        grid-row: 3;
    }
    .clients__img:nth-child(6) {
        grid-column: 3;
        grid-row: 1;
    }
    .clients__img:nth-child(7) {
        grid-column: 3;
        grid-row: 2;
    }
}
.clients__img {
    padding: 0;
}

@media (max-width: 1200px ){
    .community__columns {
        column-gap: 30px;
    }
}
@media (max-width: 992px ){
    .community__columns {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        align-items: center;
    }
    .community__info {
        margin-bottom: 50px;
    }
}
@media (max-width: 767px ){
    .community__title {
        width: 90%;
    }
}

.clients__img:hover {
    transform: scale(1.5);
}

//  page community

.community {
    &__container {
        padding-top: 40px;
        padding-bottom: 66px;
    }
    &__info {
        width: 545px;
        text-align: center;
        margin: 0 auto;
    }
    &__title {
        color: #4d4d4d;
        font-size: 36px;
        font-weight: 600;
        line-height: 44px;
        margin-bottom: 8px;
    }
    &__text {
        line-height: 24px;
        margin-bottom: 40px;
    }
    &__columns {
        display: flex;
        justify-content: space-between;
    }
}
.column {
    width: 251px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 8px 12px 0px rgba(171, 190, 209, 0.6);
    padding: 24px 32px;
    border-radius: 8px;
    transition: all 0.4s ease-in;

    &__shape {
        width: 50px;
        height: 49px;
        border-radius: 18px 5px 10px 5px;
        background-color: #e8f5e9;
        margin-bottom: 16px;
    }
    &__icon {
        margin-top: -8px;
        margin-left: -15px;
        transition: all 0.4s ease-in;
    }
    &__title {
        color: #4d4d4d;
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
        text-align: center;
        width: 231px;
        margin-bottom: 8px;
    }
    &__text {
        color: #717171;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
    }
}

.column:hover {
    transform: scale(1.1);
    .column__icon {
        margin-left: 8px;
        margin-top: 9px;
    }
}

@media (max-width: 767px ){
    .community__info {
        width: 80%;
    }
}

// page info

.info {

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 94px 15px;
    }

    &__img {
    }

    &__info {
        width: 52.460317%; /* 661/1260 */
    }

    &__title {
        font-size: 36px;
        font-weight: 600;
        color: #4d4d4d;
        line-height: 122%;
        width: 90.922844%; /* 601/661 */
        padding-bottom: 16px;
    }

    &__text {
        font-size: 14px;
        line-height: 143%;
        width: 90.922844%; /* 601/661 */
        padding-bottom: 32px;
    }

    &__button {
        padding: 14px 32px;
        color: #fff;
        background-color: #4caf4f;
        border-radius: 4px;
    }
}

@media (max-width: 767px ){

    .info__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
    }

    .info__text,
    .info__title {
        width: 100%;
    }
}

// page buisiness

.business {
    background-color: #f5f7fa;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 64px 15px;
    }

    &__text {
        width: 32.380952%; /* 408/1260 */
    }
    
    &__title {
        font-size: 36px;
        font-weight: 600;
        line-height: 122%;
        padding-bottom: 8px;
    }
    span {
        color: #4caf4f;
    }

    &__subtitle {
        
    }

    &__info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px 30px;
    }
}

.group {
    display: flex;
    column-gap: 16px;

    &__img {
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__numbers {
        font-size: 28px;
        font-weight: 700;
        line-height: 129%;
    }

    &__text {
        line-height: 150%;
        
    }
}

@media (max-width: 767px ){
    .business__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        row-gap: 40px;
    }
    .business__info {
        display: flex;
        flex-direction: column;
    }
    .business__text {
        width: 70%;
    }

}

// 

.about {

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 100px;
    }

    &__img {
    }

    &__info {
        display: flex;
        flex-direction: column;
        width: 59.365079%; /* 748/1260 */
    }

    &__text {
        font-weight: 500;
        padding-bottom: 16px;
        line-height: 150%;
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
        color: #4caf4f;
        padding-bottom: 8px;
    }

    &__subtitle {
        font-weight: 400;
        padding-bottom: 36px;
    }

    &__links {
        display: flex;
        column-gap: 36px;
        align-items: center;
    }
    &__icons {
        display: flex;
        column-gap: 40px;
    }

    &__link {
        font-size: 20px;
        font-weight: 600;color: #4caf4f;
        text-wrap: nowrap;
        background-image: url(../img/icon/arrow.svg);
        background-repeat: no-repeat;
        background-position: right center;
        padding-right: 32px;
        
    }
}

.about__icon {
}
.about__arrow {
}

@media (max-width: 1200px ){
    .about__info {
        width: 50%;
    }
    .about__links {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
}
@media (max-width: 992px ){
    .about__container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 767px ){
    .about__icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
}

// page marketing

.marketing {

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 94.6px;
    }

    &__info {
        width: 49.84127%; /* 628/1260 */
    }

    &__title {
        font-size: 36px;
        font-weight: 600;
        line-height: 122%;
        color: #4d4d4d;
        padding-bottom: 8px;
    }

    &__text {
        line-height: 150%;
        width: 100%;
        padding-bottom: 16px;
    }

    &__cards {
        display: flex;
        justify-content: center;
        column-gap: 24px;
    }

    &__card {
    }
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 29.206349%; /* 368/1260 */

    &__img {
        border-radius: 8px;
    }

    &__info {
        width: 86.141304%; /* 317/368 */
        background-color: #f5f7fa;
        padding: 16px;
        margin-top: -96px;
        position: relative;
        z-index: 100;
        border-radius: 8px;
        box-shadow: 0px 8px 12px 0px rgba(171, 190, 209, 0.6);
    }

    &__text {
        font-size: 20px;
        font-weight: 600;
        line-height: 140%;
        padding-bottom: 16px;
        width: 89.905363%; /* 285/317 */
    }
    &__textmore {
        display: none;
    }
    &__textmore.open {
        display: inline;
    }

    &__link {
        font-size: 20px;
        font-weight: 600;
        line-height: 140%;
        color: #4caf4f;
        padding-right: 32px;
        position: relative;
    }
    .card__link::after {
        position: absolute;
        content: "";
        top: 1px;
        right: 0;
        height: 24px;
        width: 24px;
        background: url(../img/icon/arrow.svg) no-repeat right center;
        transition: all 0.3s ease;
    }
    .card__link:focus::after {
        transform: rotate(-90deg);
    }
}

@media (max-width: 1200px ){
    .marketing__container {
        row-gap: 20px;
    }
    .marketing__cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
    }
    .marketing__card {
        width: 70%;
    }
    .card__img {
        width: 100%;
    }
}
@media (max-width: 767px ){
    .card__text {
        font-size: 16px;
    }
    .card__info {
        width: 70%;
    }
}

// page demo

.demo {
    background-color: #f5f7fa;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        row-gap: 32px;
        padding: 32px 15px;
    }

    &__title {
        font-size: 64px;
        font-weight: 600;
        line-height: 119%;
        color: #18191f;
        width: 70.396825%; /* 887/1260 */
    }

    &__button {
        background-color: #4caf4f;
        padding: 14px 45px 14px 32px;
        border-radius: 4px;
        color: #fff;
        background-image: url(../img/icon/white_arrow.svg);
        background-repeat: no-repeat;
        background-position: 125px, center;
    }
}

// footer

.footer {
    background-color: #263238;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 64px 15px;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    &__logo {
    }

    &__copyright {
        color: #f5f7fa;
        font-size: 14px;
        font-weight: 400;
        line-height: 143%;
        width: 211px;
    }
    &__copyright span:nth-child(1) {
        display: block;
        padding-bottom: 8px;
    }

    &__social {
        display: flex;
        column-gap: 16px;
    }

    &__info {
        width: 50.396825%; /* 635/1260 */
    }

    &__menu {
    }
}
.icon {
    background-color: rgba(255, 255, 255, 0.1);
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.icon:nth-child(1) {
    background-image: url(../img/icon/instagram.svg);
}
.icon:nth-child(2) {
    background-image: url(../img/icon/dribble.svg);
}
.icon:nth-child(3) {
    background-image: url(../img/icon/twitter.svg);
}
.icon:nth-child(4) {
    background-image: url(../img/icon/yt.svg);
}
.menu-footer {
    display: flex;
    justify-content: center;
    align-items: stretch;

    &__list {
        width: 25.19685%; /* 160/635 */
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
        line-height: 140%;
        color: #f5f7fa;
        padding-bottom: 12px;
    }

    &__item {
    }

    &__link {
        font-size: 14px;
        font-weight: 400;
        color: #f5f7fa;
        line-height: 143%;
    }
    &__input {
        background-color: rgba(255, 255, 255, 0.2);
        background-image: url(../img/icon/send.svg);
        background-position: right 12px center;
        background-repeat: no-repeat;
        color: #d9dbe1;
        padding: 10px 12px;
        border-radius: 8px;
        margin-top: 12px;
    }
    &__input::placeholder {
        color: #d9dbe1;
        opacity: 1;
    }
    
    &__form {
    }
}

@media (max-width: 1200px ){
    .footer__container {
        display: flex;
        justify-content: space-around;
    }
    .menu-footer {
        column-gap: 10px;
    }
}
@media (max-width: 992px ){
    .footer__container {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    .footer__contact {
        row-gap: 20px;
    }
    .footer__info {
        width: 80%;
    }
    .menu-footer {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}
@media (max-width: 767px ){
    .menu-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
    }
}


